{% if messages %}
<div class="row mx-0">
    {% for message in messages %}
    {% if 'success' in message.tags %}
    {% block message-success %}
    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endblock %}
    {% elif 'error' in message.tags %}
    {% block message-error %}
    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        {{ message }}
    </div>
    {% endblock %}
    {% endif %}

    {% endfor %}
</div>
{% endif %}