{% extends 'base.html' %}


{% block breadcrumb %}
    <li class="breadcrumb-item">Faktur</li>
{% endblock breadcrumb %}
    

{% block page-title %}
    <h4 class="page-title">Faktur</h4>
{% endblock page-title %}
    


{% block main %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    {% include 'partials/message.html' %}
                    
                    {% if object_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No. Surat Jalan</th>
                    <th>Tanggal</th>
                    <th>Customer</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                {% for object in object_list  %}
                    <tr>
                        <td><a href="{% url 'invoice-detail' object.id %}">{{object.number}}</a></td>
                        <td>{{object.created.date}}</td>
                        <td>{{object.delivery_order.customer}}</td>
                        <td><a href="{% url 'invoice-detail' object.id %}">View</a></td>
                    </tr>
                {% endfor %}
                    
            </tbody>
        </table>
        <div class="pagination mt-4">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>Tidak ada invoice.</p>
    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
        
{% endblock main %}
    